:root {
  /* text color */
  --main-text-color: #212121;
  --main-2-text-color: #757575;
  --accent-color: #2196F3;
  --white-color: #FFFFFF;
  /* background color */
  --bg-hd-ft-color: #2F303A;
  --bg-accent-color: #F5F4FA;
  /* icon color */
  --icon-cl: #AFB1B8;
  /* transition */
  --anim-standart: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  border: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Roboto";
  font-style: normal;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  background-color: var(--white-color);
}

.no-scroll {
  overflow: hidden;
}

.icon {
  color: var(--icon-cl);
}

/* raleway-regular - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/raleway-v27-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway-v27-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v27-latin-regular.woff2") format("woff2"), url("../fonts/raleway-v27-latin-regular.woff") format("woff"), url("../fonts/raleway-v27-latin-regular.ttf") format("truetype"), url("../fonts/raleway-v27-latin-regular.svg#Raleway") format("svg");
  /* Legacy iOS */
}
/* raleway-700 - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/raleway-v27-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway-v27-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v27-latin-700.woff2") format("woff2"), url("../fonts/raleway-v27-latin-700.woff") format("woff"), url("../fonts/raleway-v27-latin-700.ttf") format("truetype"), url("../fonts/raleway-v27-latin-700.svg#Raleway") format("svg");
  /* Legacy iOS */
}
/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v30-latin-regular.woff") format("woff"), url("../fonts/roboto-v30-latin-regular.ttf") format("truetype"), url("../fonts/roboto-v30-latin-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* roboto-500 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v30-latin-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin-500.woff2") format("woff2"), url("../fonts/roboto-v30-latin-500.woff") format("woff"), url("../fonts/roboto-v30-latin-500.ttf") format("truetype"), url("../fonts/roboto-v30-latin-500.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin-700.woff2") format("woff2"), url("../fonts/roboto-v30-latin-700.woff") format("woff"), url("../fonts/roboto-v30-latin-700.ttf") format("truetype"), url("../fonts/roboto-v30-latin-700.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* roboto-900 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v30-latin-900.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin-900.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin-900.woff2") format("woff2"), url("../fonts/roboto-v30-latin-900.woff") format("woff"), url("../fonts/roboto-v30-latin-900.ttf") format("truetype"), url("../fonts/roboto-v30-latin-900.svg#Roboto") format("svg");
  /* Legacy iOS */
}
.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.header.container,
.container,
.footer.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .header.container,
.container,
.footer.container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .header.container,
.container,
.footer.container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .header.container,
.container,
.footer.container {
    max-width: 1200px;
  }
}

.section-title {
  text-align: center;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

/* MODAL-WINDOW */
/* backdrop */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  overflow-y: scroll;
  -webkit-transition: opacity 250ms, visibility 250ms, cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms, visibility 250ms, cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* modal */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (max-width: 479px) {
  .modal {
    width: calc(100% - 40px);
  }
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.btn-close {
  position: absolute;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: fill var(--anim-standart);
  transition: fill var(--anim-standart);
}

.btn-close:hover,
.btn-close:focus {
  fill: var(--accent-color);
}

/* modal__form */
.modal__form {
  padding: 40px;
}

.modal__invocation {
  display: block;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
@media screen and (max-width: 1199px) {
  .modal__invocation {
    max-width: 370px;
  }
}
@media screen and (min-width: 1200px) {
  .modal__invocation {
    width: 448px;
  }
}

/* input */
.modal__field {
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.modal__label-content {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
}

.modal__field-input {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  padding-right: 5px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  -webkit-transition: border var(--anim-standart);
  transition: border var(--anim-standart);
}

input:focus + svg,
input:hover + svg {
  fill: #188ce8;
}

.modal__input-icon {
  position: absolute;
  bottom: 35%;
  left: 14px;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  -webkit-transition: fill var(--anim-standart);
  transition: fill var(--anim-standart);
  -webkit-transition: var(--anim-standart);
  transition: var(--anim-standart);
}

.modal__field-input:focus,
.modal__field-input:hover {
  border: 1px solid #188ce8;
}

/* textarea */
.modal__field-textarea {
  display: block;
  margin-bottom: 20px;
}

.modal__field-textarea textarea {
  display: block;
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  -webkit-transition: border var(--anim-standart);
  transition: border var(--anim-standart);
}

textarea:focus,
textarea:hover {
  border-color: #188ce8;
}

/* checkbox */
.modal__field-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.modal__checkbox-icon {
  width: 16px;
  height: 15px;
  margin-right: 7px;
  outline: 2px solid var(--main-text-color);
  outline-offset: -2px;
  border-radius: 2px;
  -webkit-transition: var(--anim-standart);
  transition: var(--anim-standart);
}

.modal__input-checkbox:checked + .modal__checkbox-icon {
  background-color: var(--accent-color);
  outline-color: var(--accent-color);
}

.checkbox-icon {
  fill: var(--white-color);
}

.modal__checkbox-text {
  font-weight: 400;
}
@media screen and (max-width: 1199px) {
  .modal__checkbox-text {
    font-size: 12px;
    line-height: 1.16;
  }
}
@media screen and (min-width: 1200px) {
  .modal__checkbox-text {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal__checkbox-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--accent-color);
  text-decoration: underline;
}
@media screen and (max-width: 1199px) {
  .modal__checkbox-link {
    font-size: 12px;
    line-height: 1.16;
  }
}

/* button */
.modal__btn-send {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.modal__btn-send span {
  display: block;
  padding: 10px 55px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-color);
}

.modal__btn-send:hover,
.modal__btn-send:focus {
  background-color: #188ce8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* ! MOBILE-MENU ! */
.btn-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  padding: 12px 8px;
  background-color: transparent;
  border: none;
  z-index: 99;
}
.btn-menu:hover, .btn-menu:focus {
  color: var(--accent-color);
}
.btn-menu__icons {
  fill: currentColor;
}
.btn-menu .btn-menu__icon-menu {
  display: block;
}
.btn-menu.is-open .btn-menu__icon-menu {
  display: none;
}
.btn-menu .btn-menu__icon-cross {
  display: none;
}
.btn-menu.is-open .btn-menu__icon-cross {
  display: block;
}
@media screen and (min-width: 768px) {
  .btn-menu {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .burger {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 48px 40px;
    background-color: var(--white-color);
    z-index: 89;
    overflow-y: scroll;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: -webkit-transform var(--anim-standart);
    transition: -webkit-transform var(--anim-standart);
    transition: transform var(--anim-standart);
    transition: transform var(--anim-standart), -webkit-transform var(--anim-standart);
  }
  .burger.is-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@media screen and (min-width: 768px) {
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .contacts-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) {
  .contacts-social {
    display: none;
  }
}

.contacts-social__item:not(:last-child) {
  margin-right: 10px;
}
.contacts-social__item:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 0px;
  height: 22px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}
.contacts-social__item:not(:last-child) .contacts-social__link {
  padding-right: 10px;
}

.contacts-social__link {
  color: var(--accent-color);
}

/* ! HEADER ! */
.header {
  border-bottom: 1px solid #ECECEC;
}

.header.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
}
@media screen and (max-width: 767px) {
  .header.container {
    position: relative;
  }
}

/* LOGO */
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
@media screen and (max-width: 1199px) {
  .logo {
    font-size: 24px;
    line-height: 1.16;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

@media screen and (max-width: 767px) {
  .header__logo {
    padding: 16px 0;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .header__logo {
    padding: 24px 0;
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    padding: 24px 0;
    margin-right: 93px;
  }
}

.logo .span-h {
  color: var(--main-text-color);
}

/* NAV */
@media screen and (min-width: 768px) {
  .site-nav {
    margin-right: auto;
  }
}

.site-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}
@media screen and (max-width: 767px) {
  .site-nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .site-nav__item:not(:last-child) {
    margin-right: 50px;
  }
}
@media screen and (max-width: 767px) {
  .site-nav__item:not(:last-child) {
    margin-bottom: 32px;
  }
}

.site-nav__link {
  display: block;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  -webkit-transition: color var(--anim-standart);
  transition: color var(--anim-standart);
}
@media screen and (max-width: 767px) {
  .site-nav__link {
    font-size: 40px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 768px) {
  .site-nav__link {
    font-size: 14px;
    line-height: 1.14;
    padding: 32px 0 31px;
  }
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--accent-color);
}

/* CURRENT <a> IN HEADER */
.site-nav__link.site-nav__link--current {
  position: relative;
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .site-nav__link.site-nav__link--current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    display: inline-block;
    background-color: var(--accent-color);
    border-radius: 4px;
  }
}
/* CONTACTS */
@media screen and (min-width: 1200px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (max-width: 767px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 48px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__item:not(:last-child) {
    margin-right: 30px;
  }
}

.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--main-2-text-color);
  -webkit-transition: color var(--anim-standart);
  transition: color var(--anim-standart);
}
@media screen and (max-width: 767px) {
  .contacts__link {
    font-size: 24px;
    line-height: 1.16;
    padding: 16px 0;
  }
  .contacts__link.contacts__link--current {
    font-size: 34px;
    line-height: 1.17;
    color: var(--accent-color);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__link {
    padding: 5px 0;
    font-size: 12px;
    line-height: 1.16;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__link {
    padding: 32px 0 31px;
    font-size: 14px;
    line-height: 1.14;
  }
}

.contacts__link:hover,
.contacts__link:focus {
  color: var(--accent-color);
}

.contacts__link:hover .contacts__icon,
.contacts__link:focus .contacts__icon {
  fill: var(--accent-color);
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .contacts__icon {
    display: none;
  }
}

/* HERO */
.hero.section {
  margin: 0 auto;
  background-color: var(--bg-hd-ft-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 767px) {
  .hero.section {
    padding: 118px 0;
    max-width: 767px;
    height: 400px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/mobile/stydio/hero/hero-mb.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile/stydio/hero/hero-mb.jpg);
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero.section {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/mobile/stydio/hero/hero-mb@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile/stydio/hero/hero-mb@2x.jpg);
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 3), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 3), screen and (max-width: 767px) and (min-resolution: 288dpi), screen and (max-width: 767px) and (min-resolution: 3dppx) {
  .hero.section {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/mobile/stydio/hero/hero-mb@3x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile/stydio/hero/hero-mb@3x.jpg);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero.section {
    padding: 118px 0;
    max-width: 1199px;
    height: 400px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/tablet/stydio/hero/hero-tb.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet/stydio/hero/hero-tb.jpg);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .hero.section {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/tablet/stydio/hero/hero-tb@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet/stydio/hero/hero-tb@2x.jpg);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 3), screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 288dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 3dppx) {
  .hero.section {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/tablet/stydio/hero/hero-tb@3x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet/stydio/hero/hero-tb@3x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero.section {
    padding: 200px 0;
    height: 600px;
    max-width: 1600px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/desktop/stydio/hero/hero-ds.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop/stydio/hero/hero-ds.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero.section {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/desktop/stydio/hero/hero-ds@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop/stydio/hero/hero-ds@2x.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 3), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 1200px) and (min-resolution: 288dpi), screen and (min-width: 1200px) and (min-resolution: 3dppx) {
  .hero.section {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/desktop/stydio/hero/hero-ds@3x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop/stydio/hero/hero-ds@3x.jpg);
  }
}

.hero_title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
}
@media screen and (max-width: 1199px) {
  .hero_title {
    font-size: 26px;
    line-height: 1.62;
    max-width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero_title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}

.hero-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn__text {
  display: inline-block;
  cursor: pointer;
  padding: 10px 32px;
}

/* BENEFITS */
@media screen and (min-width: 768px) {
  .benefits {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .benefits {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}

@media screen and (min-width: 768px) {
  .benefits__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .benefits__item {
    width: calc((100% - 30px) / 4);
  }
}

@media screen and (min-width: 1200px) {
  .benefits__item:not(:last-child) {
    margin-right: 30px;
  }
}
@media screen and (max-width: 767px) {
  .benefits__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
.benefits__icon-wrapping {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--bg-accent-color);
  border-radius: 4px;
}

.benefits__title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
}
@media screen and (max-width: 767px) {
  .benefits__title {
    text-align: center;
  }
}

.benefits__text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--main-2-text-color);
}

/* PORTFOLIO */
.section.portfolio {
  padding-top: 0;
}
@media screen and (max-width: 1199px) {
  .section.portfolio {
    display: none;
  }
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolio__item:not(:last-child) {
  margin-right: 30px;
}

.portfolio__overlay {
  position: relative;
}

.portfolio__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

/* TEAM */
.section-team {
  background-color: var(--bg-accent-color);
}

@media screen and (min-width: 768px) {
  .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}

.team__card {
  background-color: var(--white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__card {
    width: calc((100% - 30px) / 2);
  }
}

@media screen and (max-width: 767px) {
  .team__card:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team__card:not(:last-child) {
    margin-right: 30px;
  }
}

.team__tumb {
  padding-top: 30px;
}
@media screen and (max-width: 1199px) {
  .team__tumb {
    padding-bottom: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .team__tumb {
    padding-bottom: 30px;
  }
}

.team__subtitle {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.team__text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--main-2-text-color);
}

/* icon-set */
.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team__item {
  margin-right: 10px;
}

.team__item:nth-of-type(4n) {
  margin: 0;
}

.team__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  background-color: var(--white-color);
  border-radius: 50%;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team__link:hover,
.team__link:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.team__icon {
  fill: currentColor;
}

/* CUSTOMERS */
.customers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 1199px) {
  .customers {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (max-width: 767px) {
  .customer__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .customer__item {
    width: calc((100% - 90px) / 3);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .customer__item:not(:last-child) {
    margin-right: 30px;
  }
}

.customer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  Height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .customer__link {
    width: 170px;
  }
}

.customer__link:hover,
.customer__link:focus {
  border-color: var(--accent-color);
}

.customer__icon {
  fill: currentColor;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customer__link:hover .customer__icon.icon,
.customer__link:focus .customer__icon.icon {
  fill: var(--accent-color);
}

/* FILTER */
.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .filter {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 40px;
    gap: 15px 8px;
  }
}
@media screen and (min-width: 768px) {
  .filter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 34px;
  }
  .filter__item:not(:last-child) {
    margin-right: 8px;
  }
}

.filter__btn {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  color: var(--main-text-color);
  background: var(--bg-accent-color);
  border-radius: 4px;
  -webkit-transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, box-shadow;
  transition-property: color, background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__btn:hover,
.filter__btn:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* PROJECTS */
.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

@media screen and (min-width: 480px) {
  .project__item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}
@media screen and (min-width: 768px) {
  .project__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .project__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .project__item:first-child .project__card {
    padding-bottom: 56px;
  }
}
.project__link {
  display: block;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project__link:hover,
.project__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project__img {
  position: relative;
  overflow: hidden;
}

.project__overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform var(--anim-standart);
  transition: -webkit-transform var(--anim-standart);
  transition: transform var(--anim-standart);
  transition: transform var(--anim-standart), -webkit-transform var(--anim-standart);
  background-color: rgba(33, 150, 243, 0.9);
}

.project__link:hover .project__overlay,
.project__link:focus .project__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.project__desc {
  width: 322px;
  height: 168px;
  font-size: 18px;
  line-height: 1.55;
  color: var(--white-color);
}

.project__card {
  padding: 20px 24px;
  border-right: 1px solid rgb(238, 238, 238);
  border-bottom: 1px solid rgb(238, 238, 238);
  border-left: 1px solid rgb(238, 238, 238);
}

.project__title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
}

.project__text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--main-2-text-color);
}

/* ! FOOTER ! */
.footer {
  padding: 60px 0;
  background-color: var(--bg-hd-ft-color);
}

.footer.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 15px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer.container {
    padding-left: 76px;
    padding-right: 89px;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
@media screen and (max-width: 767px) {
  .footer.container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}
@media screen and (max-width: 1199px) {
  .footer.container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .footer.container {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

/* FOOTER-ADDRESS */
@media screen and (max-width: 767px) {
  .footer-address {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-address {
    margin-right: auto;
    margin-bottom: 60px;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer-address {
    margin-right: 70px;
  }
}

.footer-address__logo {
  display: inline-block;
  margin-bottom: 20px;
}

.logo .footer-address__span {
  color: var(--white-color);
}

.footer-address__nav {
  font-style: normal;
}

.footer-address__list {
  max-height: 21px;
}

.footer-address__list:not(:last-child) {
  margin-bottom: 9px;
}

.footer-address__link-gps {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--white-color);
}

.footer-address__link {
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-address__nav .footer-address__link:hover,
.footer-address__nav .footer-address__link:focus {
  color: var(--accent-color);
}

.footer-address__nav .footer-address__link:hover,
.footer-address__nav .footer-address__link:focus {
  color: var(--accent-color);
}

/* FOOTER-SOCIAL */
@media screen and (max-width: 767px) {
  .footer-social {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-social {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer-social {
    margin-right: 93px;
  }
}

.invocation {
  display: inline-block;
  text-align: center;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #FFFFFF;
}

.icon-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}
@media screen and (max-width: 767px) {
  .icon-set {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.icon-set__item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.icon-set__item:nth-of-type(4n) {
  margin: 0;
}

.icon-set__link.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  padding: 12px;
  color: var(--white-color);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-set__link:hover,
.icon-set__link:focus {
  background-color: var(--accent-color);
}

.icon-set__icon {
  fill: currentColor;
}

/* FOOTER-EMAIL */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-email {
    margin-left: auto;
    margin-right: auto;
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-email {
    width: 570px;
  }
}

.form-follow__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 1199px) {
  .form-follow__field {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .form-follow__field {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.form-follow__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (max-width: 1199px) {
  .form-follow__label {
    width: 100%;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .form-follow__label {
    margin-right: 12px;
  }
}

.form-follow__input {
  padding: 0;
  padding-left: 16px;
  letter-spacing: 0.03em;
  width: 100%;
  height: 50px;
  color: var(--white-color);
  background-color: var(--bg-hd-ft-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .form-follow__input {
    width: 358px;
  }
}

.form-follow__field .form-follow__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.form-follow__field .form-follow__input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.form-follow__field .form-follow__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.form-follow__field .form-follow__input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.form-follow__field .form-follow__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.follow-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  width: 200px;
  height: 50px;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.follow-btn__text {
  display: inline-block;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  margin-right: 12px;
  color: var(--white-color);
}

.follow-btn__icon.icon {
  fill: var(--white-color);
}/*# sourceMappingURL=main.css.map */