:root {
    /* text color */
    --main-text-color: #212121;
    --main-2-text-color: #757575;
    --accent-color: #2196F3;
    --white-color: #FFFFFF;
    /* background color */
    --bg-hd-ft-color: #2F303A;
    --bg-accent-color: #F5F4FA;
    /* icon color */
    --icon-cl: #AFB1B8;
    /* transition */
    --anim-standart: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}