.cards-set {
    display: flex;
    flex-wrap: wrap;

    &__list { 
      margin-right: 30px; 
      margin-bottom: 30px;
      flex-basis: calc((100% - var(--indent) * var(--items)) / var(--items));
      margin: calc(var(--indent) / 2);
      transition: 250ms var(--timing-variable);
  }

  &__list:hover,
  &__list:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
      0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
      cursor: pointer;
      transition: 250ms var(--timing-variable);
  } 
 
  &__item { position: relative;
      overflow: hidden;}
  
  &__description {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;

  padding: 63px 24px;

  color: var(--light-bgr-cl);
  
}

&__border {padding: 20px 24px;
  border: 1px solid var(--color-border-porfolio);}

&__title {color: var(--dark-txt-cl);  
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 2; 
  text-decoration: none;
  margin: 0;
  margin-bottom: 4px;
 }

&__text { font-family: inherit; 
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  text-decoration: none;
  color: var(--dark-txt-cl);
  }

  .cards-set__list:hover .card-overlay
     { 
       transform: translateY(0);  
} 

  }   


.card-overlay{display: flex;
        position: absolute;
       
        top: 0;
        left: 0;

        width: 100%;
        
        transform: translateY(100%);

        align-items: center;
        justify-content: center;
    
       background: rgba(33, 150, 243, 0.9);

       transition: 250ms var(--timing-variable);
    }