.checkbox { display: flex;
    padding-top: 20px;
    padding-bottom: 30px;

&__input {   position: absolute;
    width: 1px;
    height: 1px;

    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
 }

&__link { display: inline-block;
    margin-right: 7px;

    width: 16px;
    height: 15px;
    
   
    border: 1px solid var(--black-txt-cl);
    border-radius: 2px;
    fill: none;
    transform: translate(5px, 4px);
    
    cursor: pointer;
}

&__text { display:flex;
    
    font-family:var(--main-font);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    
    color: var(--gray-txt-cl);
    padding-left: 7px; 
}

&__policity { color: var(--accent-txt-cl);
    text-decoration: underline;
padding-left: 5px;}

&__input:checked + &__link {
    
    background-color: var(--accent-txt-cl);
    background-image: url(../images/icons/full-check.svg);
    background-origin:border-box;
    border-color: var(--accent-txt-cl);
    border-radius: 2px;

    transition: 250ms var(--timing-variable);
    cursor: pointer;
}

}