.footer { position: relative;
    display: flex;
    background: var(--dark-bgr-cl); 
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    padding: 60px 0; 
    }


.footer-items  { display: inline-block;
    } 
    
.footer-items-nav__listmap {  display: block; padding-top: 20px; text-decoration: none; color: var(--color-icons); font-style: normal;
        transition: 250ms var(--timing-variable);
    }

.footer-items-nav__list { display: block; padding-top: 9px; color: var(--color-icons);text-decoration: none; color: rgba(255, 255, 255, 0.6); font-style: normal;
        transition: 250ms var(--timing-variable);
    }

.footer a:hover,
.footer a:focus
     { color: var(--accent-txt-cl)}