.header { 
    font-family: var(--main-font);
    display: flex; 
    align-items: center;

font-weight: 500;
font-size: 14px;
line-height: 1.14;
box-sizing:border-box;
border-bottom: 1px solid var(--border-portfolio); 
}


.head-nav {display: flex; color: var(--dark-txt-cl); margin-left: 50px;}
.head-group {display: flex;  margin-left: auto; padding: 0; }




.header-list { display: flex; padding: 0; 
    text-decoration: none; color: var(--dark-txt-cl);padding-top: 32px; padding-bottom: 32px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list { display: flex;  align-items: center;
    text-decoration: none; color: var(--gray-txt-cl);
    padding-top: 32px; padding-bottom: 32px; 
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.head-group__list,
.head-group__list:focus,
.head-nav__list:hover,
.head-nav__list:focus {fill:currentColor;

    
}
.head-group__list:not(:last-child),
.head-nav__list:not(:last-child) {margin-right: 50px; 
        padding: 0; display: flex;}
        
.list .heder-icon {margin-right: 10px;}



.header a:hover,
.header a:focus { color: var(--blue-but-cl);

  
}

 .curent-portfolio, 
 .curent-studio {position:relative; 
    color: var(--background-color-icons); padding-top: 32px; padding-bottom: 32px;
    transition: 250ms var(--timing-variable);
}

.curent-studio::after,
.curent-portfolio::after{
    content: '';
    width: 100%;
    height: 4px;
    position: absolute;
    bottom: -8px;
    left: 0;
    border-radius: 2px;
    background-color: var(--background-color-icons);}