.logo {
    font-family: var(--secondary-font);
    text-decoration: none;
    font-style: normal;
    color: var(--accent-txt-cl);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    margin-right: 40px;
    
    }
.logo-web {color: var(--dark-txt-cl); font-style: normal;}


.header .logo {color: var(--accent-txt-cl); 
    display: block; padding-top: 32px; padding-bottom: 32px;
}

footer.logo {font-family:var(--secondary-font);
    text-decoration: none;
    font-style: normal;
    color: var(--accent-txt-cl);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;}

.footer span {color: var(--light-txt-cl);}